body {
    height:100vh;
    width:100vw;
    margin: 0;
    font-family: "Roboto", sans-serif;
}

.container {
    width:800px;
    height:800px;
    display:flex;
    flex-direction: column;
    border:1px solid red;
}

.row {
    display:flex;
    flex-direction: row;
    flex:1;
}

.square {
    width:800px;
    height:auto;
}

.black {
    background-color: black;
}

button {
    margin: 10px;
}
.error-div {
    background-color: #B22222;
    color:#e7e7e7;
    width: 200px;
    margin:10px;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}